.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  /* Zadeklarowanie zmiennej z kolorem. */
  --bg-color: #E6E6E6;
  --header-color: #D7CEB2;
  --header-menu-button-color: #BEB69F;
  --header-menu-button-hover-color: #B2AA96;
  --content-background-color: #CBC2A9;
  --card-bg: #B2AA96;
  --card-border: #A59E8C;
}

body{
  /* Użycie zmiennej -> var(--nazwa) */
  background-color: var(--bg-color);
}

.App {
  text-align: center;
  width: 80vw;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.AppContent{
  background-color: var(--content-background-color);
  margin-top: 5px;
  min-height: 80vh;
}